# Log file
*.log

# Output file
*.out

# Maven Target
target

# IDEA Files
.idea/
*.ipr
*.iws
*.iml


# MacOS
*.DS_Store

#Ballerina
*.jar
*.balx
bal/*/kubernetes
bal/*/docker
velocity.log*
*Ballerina.lock
*Dependencies.toml